*.sw?
*.orig
.DS_Store
*.xcodeproj/*.mode*v*
*.xcodeproj/*.pbxuser

cscope.out
tags
*.o
newclay/compiler/test*
!newclay/compiler/test*.clay
*.claycache
*.s
*.pyc
*.out
bin/
build/
/clay
compiler/src/*.o
compiler/src/*.dep
.gdb_history

clay.exe
vs2008/*.ncb
vs2008/*.suo
vs2008/*.user
vs2008/Debug/
vs2008/Release/

test/cocoa/appkit/Example.app/

mingw/
