*.sw?
*.orig
.DS_Store
*.xcodeproj/*.mode*v*
*.xcodeproj/*.pbxuser

cscope.out
tags
*.o
*.claycache
*.s
*.pyc
*.out
bin/
build/
clay
compiler/src/*.o
compiler/src/*.dep
.gdb_history
*.dSYM
*.pdb
main

/newclay/compiler/testanalysis
/newclay/compiler/testcodegen_c
/newclay/compiler/testevaluator
/newclay/compiler/testlexer
/newclay/compiler/testlifetime
/newclay/compiler/testloader
/newclay/compiler/testparser
/newclay/compiler/testresolver

clay.exe
vs2008/*.ncb
vs2008/*.suo
vs2008/*.user
vs2008/Debug/
vs2008/Release/

test/cocoa/appkit/Example.app/

mingw/
